html {
  scroll-padding-top: 100px;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #0f111a;
  color: #e0e0e0;
  background-image: url('assets/noise.png');
  background-size: cover;
}

.navbar-brand {
  color: #00ffcc !important;
  font-weight: bold;
}

.nav-link {
  color: #00ff99 !important;
}

.nav-link:hover {
  color: #a64eff !important;
}

.section {
  background: linear-gradient(to right, #0f111a, #13151e);
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #00ff99, #a64eff, #00ffff) 1;
  border-radius: 16px;
  padding: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px rgba(0, 255, 153, 0.4);
  transition: all 0.3s ease;
}

.section:hover {
  box-shadow: 0 0 15px #a64eff, 0 0 30px #00ffff inset;
}

.download-buttons .btn {
  margin-right: 1rem;
  margin-top: 1rem;
}

.contact-icons a {
  font-size: 2rem;
  margin-right: 15px;
  color: #00ff99;
}

.contact-icons a:hover {
  color: #a64eff;
}
